

<link href='css/fullcalendar.css' rel='stylesheet' />
<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='js/moment.min.js'></script>
<script src='js/fullcalendar.min.js'></script>

<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next,today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2015-12-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'Sport',
                    start: '2015-12-01'
                },
                {
                    title: 'Long Event',
                    start: '2015-12-07',
                    end: '2015-12-10'
                },
                {
                    title: 'Repeating Event',
                    start: '2015-12-09'
                },
                {
                    title: 'Repeating Event',
                    start: '2015-12-16'
                },
                {
                    title: 'Conference',
                    start: '2015-12-11',
                    end: '2015-12-13'
                },
                {
                    title: 'Meeting',
                    start: '2015-12-12T10:30:00',
                    end: '2015-12-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2015-12-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2015-12-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2015-12-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2015-12-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2015-12-13'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2015-12-28'
                }
            ]
        });

    });


    $(document).on('pagebeforecreate', function (e) {
        $("a,button", e.target).attr("data-role", "none");
    });



    $(function () {

        $("#calendar").on("swiperight", swiperightHandler);
        function swiperightHandler(event) {
            $('#calendar').fullCalendar('prev');
        }

        $("#calendar").on("swipeleft", swipeleftHandler);
        function swipeleftHandler(event) {
            $('#calendar').fullCalendar('next');
        }

    });
</script>


<div class="row template_pages">

    <section class="col-xs-12 text-right">
        View Information For:
        <select data-role="none">
            <option>Child Name-1</option>
            <option>Child Name-2</option>
            <option>Child Name-3</option>
        </select>
    </section>
    
    <section class="col-xs-12">
        <hr>
    </section>

    <section class="col-xs-12">
        <div id='calendar'></div>        
    </section>

</div>
