<div class="row template_pages">

    <section class="col-md-12 text-right">
        View Information For 
        <select>
            <option>Child 1</option>
            <option>Child 2</option>
            <option>Child 3</option>
        </select>
    </section>

    <section class="col-md-12">
        <h3>Fees Payment History</h3>
    </section>
    <section class="col-md-12">
        <hr>
    </section>

    <section class="col-md-12 text-right">
        <h6>All amount are in ( $ )</h6>
    </section>

    <div class="">

        <section class="col-md-12">

            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                        Payment 1 | I123TR
                    </h3>
                </div><!--End of Panel Heading--->

                <div class = "panel-body">

                    <div class="col-md-12"><b>Receipt Details</b></div>

                    <div class="">
                        <div class="col-xs-2 col-md-1">Number:</div>
                        <div class="col-xs-3 col-md-1">R151483122</div>
                        <div class="col-xs-1 col-md-1">|</div>

                        <div class="col-xs-3 col-md-1">GST:</div>
                        <div class="col-xs-3 col-md-1">1.21</div>

                        <div class="col-md-1 hidden-xs hidden-sm">|</div>

                        <div class="col-xs-2 col-md-1">Date:</div>
                        <div class="col-xs-3 col-md-1">03 Jun 015</div>
                        <div class="col-xs-1 col-md-1">|</div>
                        <div class="col-xs-3 col-md-1">Amount:</div>
                        <div class="col-xs-3 col-md-1">18.54</div>

                    </div><!--End of Row-->

                    <div class="col-md-12"><b>Payment Mode</b></div>


                    <div class="">
                        <div class="col-xs-2 col-md-1">Cash:</div>
                        <div class="col-xs-1 col-md-1">|</div>
                        <div class="col-xs-2 col-md-1">Amount:</div>
                        <div class="col-xs-2 col-md-1">14.67</div>
                        <div class="col-xs-1 col-md-1">|</div>
                        <div class="col-xs-2 col-md-1">Number:</div>
                        <div class="col-xs-2 col-md-1">1823</div>

                    </div><!--End of Row-->

                    <div class="col-xs-12" style="top:5px;">
                        <button class="btn btn-xs btn-warning">Get Detail</button> <button class="btn btn-xs btn-warning">Invoice</button> <button class="btn btn-xs btn-warning">Receipt</button> 
                    </div>

                </div><!--End of Panel Body-->
            </div><!--End of Panel-->

        </section><!--Main Section--->

    </div><!--End of Row-->
</div><!--End of Main Row-->