<div class="row template_pages">

            <section class="col-xs-12">
                <h3>GIIS Directory</h3>
            </section>
            <section class="col-xs-12">
                <hr>
            </section>

            <section class="col-xs-12 text-right">
                <button class="btn btn-xs btn-warning" id="hide_button" data-role="none">Hide Search</button>
            </section>

            <section class="col-xs-12">


                <div class="">

                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">
                                Advance Search
                            </h3>
                        </div><!--End of Panel Title-->

                        <div class = "panel-body" id="search_Fields">

                            <div class="">

                                <div class="col-xs-6">Name :</div>
                                <div class="col-xs-6"><input type="text" data-role="none"/></div>
                                <div class="col-xs-6">Job Title/Post :</div>
                                <div class="col-xs-6"><input type="text" data-role="none"/></div>
                                <div class="col-xs-6">Branch :</div>
                                <div class="col-xs-6">
                                    <select data-role="none">
                                        <option>Branch 1</option>
                                        <option>Branch 2</option>
                                        <option>Branch 3</option>
                                    </select>
                                </div>
                            </div><!--End of ROW-->


                            <div class="">

                                <div class="col-xs-6">Department :</div>
                                <div class="col-xs-6">
                                    <select data-role="none">
                                        <option>Department 1</option>
                                        <option>Department 2</option>
                                        <option>Department 3</option>
                                    </select>
                                </div>

                                <div class="col-xs-6">Staff/Teacher :</div>
                                <div class="col-xs-6">
                                    <select data-role="none">
                                        <option>Teacher 1</option>
                                        <option>Teacher 2</option>
                                        <option>Teacher 3</option>
                                    </select>
                                </div>

                                <div class="col-xs-12"><button class="btn btn-xs btn-warning">Search All</button> <button class="btn btn-xs btn-warning">View All</button></div>

                            </div><!---End of ROW-->

                        </div><!--End of Panel Body--->

                    </div><!--End of Panel-->

                </div><!--end of ROW-->


            </section><!--End of Search Section-->

            <section class="col-xs-12">
                <h4>Global Indian Foundation</h4>
            </section>

            <section class="col-xs-12">

                <table class = "table table-striped table-bordered">

                    <tbody>

                        <tr>
                            <td>Board of Governors</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td>Presidium of Patrons</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td>Board of Intl Advisors</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td>Board of Advisors by Country</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td>Executive Management</td>
                            <td class="text-center"> > </td>
                        </tr>

                    </tbody>

                </table>

            </section><!--Board Member List Table Section-->


            <section class="col-xs-12">
                <div class="">
                    <div class="col-xs-12"><h4>School List </h4></div>
                    <div class="col-xs-12"><h4><small>( Note :- To visit school's homepage,please click on Home Icon )</small></h4></div>
                </div>
            </section><!--School list Section with Note-->


            <section class="col-xs-12">

                <table class = "table table-striped table-bordered">

                    <tbody>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Queenstown</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,EastCoast</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Malaysia</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Tokyo</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Thailand</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Balestier</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Vietnam</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Uppal-HYD</td>
                            <td class="text-center"> > </td>
                        </tr>

                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Chinchwad</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Surat</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Noida</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Ahmedabad</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Indore</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Bangalore</td>
                            <td class="text-center"> > </td>
                        </tr>
                        <tr>
                            <td><img src="img/home_icon.png"/></td>
                            <td>Global Indian International School,Abudhabi</td>
                            <td class="text-center"> > </td>
                        </tr>
                    </tbody>

                </table>

            </section><!--School list Table Section-->

        </div><!--End of Main Row-->

        <script>
            $("#hide_button").click(function () {
                $("#search_Fields").slideToggle("slow");
                $(this).html(($(this).text() == "Hide Search" ? "Show Search" : "Hide Search"));
            });
        </script>