 <div class="row template_pages">

            <section class="col-md-12 col-xs-12 text-center">
                <h4>Time Table</h4>
            </section>
            
            <section class="col-md-12 col-xs-12 text-right">
                View Information For <select>
                    <option>Child-1</option>
                    <option>Child-2</option>
                    <option>Child-3</option>
                </select>
            </section>
            
            <section class="col-md-12 col-xs-12">
                <button class="btn btn-xs btn-default">Show Teacher Name</button>
            </section>
            
            
            <section class="col-md-12 col-xs-12">
            
                <div class="row">
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Time and Period</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Mon</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Tue</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Wed</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Thu</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Fri</h6>
                    </div>
                    
                    
                </div><!---End of Heading Row--->
                
                
                 <div class="row">
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>11:00 am - 12:00 pm</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>History</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Geography</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Science</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Math</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>History</h6>
                    </div>
                    
                    
                </div><!---End of Time 11 to 12--->
                
                 <div class="row">
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>01:00 pm - 02:00 pm</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>History</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Geography</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Science</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>Math</h6>
                    </div>
                    
                    <div class="col-md-2 col-xs-2">
                        <h6>History</h6>
                    </div>
                    
                    
                </div><!---End of Time 01 to 02--->
            
            
            </section>
            
             <section class="col-md-12 col-xs-12">
                 <h4>Note : <textarea style="width: 100%"></textarea></h4>
            </section>


        </div><!--Main Row-->