
<div class="row template_pages">

    <div class="col-md-12 col-xs-12 text-right">
        <button class="btn btn-xs btn-info">Submit</button>
    </div>

    <div class="col-md-12 col-xs-12">
        <hr>
    </div>

    <div class="col-md-12 col-xs-12">
        <h3>Edit login Information</h3>
    </div>

    <div class="col-md-12 col-xs-12">
        <b>Subscribe for Push Notification&nbsp;&nbsp;<input type="checkbox" checked=""/></b>
    </div>


    <section class="col-md-12 col-xs-12">
        <div class = "panel panel-default">
            <div class = "panel-heading">
                <h3 class = "panel-title">
                    Personal information
                </h3>
            </div><!--End of Panel Heading-->

            <div class = "panel-body">

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            Email :    
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="text" style="width: 100%;" value=""/>    
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            Date of Birth : 
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="text" style="width: 100%;" value=""/>    
                        </div>
                    </div>
                </div>


            </div><!--End of Panel Body-->
        </div><!--End of Panel-->
    </section><!--End of Personal Information Section--->

    <section class="col-md-12 col-xs-12">
        <div class = "panel panel-default">
            <div class = "panel-heading">
                <h3 class = "panel-title">
                    User Name information
                </h3>
            </div><!--End of Panel Heading-->

            <div class = "panel-body ">

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            Current User Name :    
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="text" style="width: 100%;"  value=""/>    
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            New User Name : 
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="text" style="width: 100%;"  value=""/>    
                        </div>
                    </div>
                </div>


            </div><!--End of Panel Body-->
        </div><!--End of Panel-->
    </section><!--End of User Name Information Section--->



    <section class="col-md-12 col-xs-12">
        <div class = "panel panel-default">
            <div class = "panel-heading">
                <h3 class = "panel-title">
                    Password information
                </h3>
            </div><!--End of Panel Heading-->

            <div class = "panel-body ">

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            Current Password :    
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="password" style="width: 100%;" value="Rahul Verma"/>    
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            New Password : 
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="password" style="width: 100%;"  value="Rahul Verma"/>    
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 nopadding">
                    <div class="">
                        <div class="col-md-6 col-xs-6 nopadding">
                            Confirm Password : 
                        </div>
                        <div class="col-md-6 col-xs-6 nopadding" >
                            <input type="password" style="width: 100%;" value="Rahul Verma"/>    
                        </div>
                    </div>
                </div>


            </div><!--End of Panel Body-->
        </div><!--End of Panel-->
    </section><!--End of Password Information Section--->





</div><!--End OF ROW--->