
<div class="row template_pages">

<div class="col-md-2 col-xs-3 "><button class="btn btn-xs btn-warning" data-role="none" id="inbox_parent_show_all_message"><span class = "glyphicon glyphicon-remove"></span> Cancel</button></div>
<div class="col-md-8 col-xs-6  text-center">Feedback</div>
<div class="col-md-1 col-xs-3  text-right"> <button class="btn btn-xs btn-warning" data-role="none"><span class = "glyphicon glyphicon-send"></span>  Send</button></div>  


<div class="col-md-1  col-xs-2">To : </div><!--End of COL-->   
<div class="col-md-11  col-xs-10">IT Support</div><!--End of COL-->   



<div class="col-md-1 col-xs-2">Subject: </div><!--End of COL-->   
<div class="col-md-11 col-xs-10">myGIIS iPad Application Feedback</div><!--End of COL-->   


<div class="col-md-12 col-xs-12">
    <textarea data-role="none" style="width:99.5%; height: 500px;"></textarea>
</div><!--End of COL (Subject)-->

</div>


