<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Replay-Email</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href = "../../css/bootstrap.min.css" rel = "stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link href = "../../css/style.css" rel = "stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src = "../../js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body data-role="page">




        <div class="row">

            <section class="col-md-12 col-xs-12">
                <div class="row bk_color">
                    <div class="col-md-2 col-xs-3"><button class="btn btn-xs btn-warning" data-role="none" id="inbox_parent_show_all_message"><span class = "glyphicon glyphicon-remove"></span> Cancel</button></div>
                    <div class="col-md-8 col-xs-5 text-center">Replay Mail</div>
                    <div class="col-md-1 col-xs-1 text-right"> <button class="btn btn-xs btn-warning" data-role="none"><span class = "glyphicon glyphicon-paperclip"></span></button></div>
                    <div class="col-md-1 col-xs-3 text-right"> <button class="btn btn-xs btn-warning" data-role="none"><span class = "glyphicon glyphicon-send"></span>  Send</button></div>  
                </div>
            </section>

            <section id = "detail" class="col-md-12 col-xs-12">

                <div class="row">

                    <div class="col-md-12 col-xs-12 border-style">
                        <div class="row">
                            <div class="col-md-1 col-xs-2">To : </div><!--End of COL-->   
                            <div class="col-md-11 col-xs-10"><input type="text" data-role="none" style="width:100%;"/></div><!--End of COL-->   
                        </div><!--end of ROW ( Email TO )-->
                    </div><!--End of COL (From Receiver Info)-->

                    <div class="col-md-12 col-xs-12 border-style">
                        <div class="row">
                            <div class="col-md-1 col-xs-2">Cc : </div><!--End of COL-->   
                            <div class="col-md-11 col-xs-10"><input type="text" data-role="none" style="width:100%;"/></div><!--End of COL-->   
                        </div><!--end of ROW ( Email Cc )-->
                    </div><!--End of COL ( Cc Receiver Info)-->


                    <div class="col-md-12 col-xs-12 border-style">
                        <div class="row">
                            <div class="col-md-1 col-xs-2"><h4>Subject:</h4></div><!--End of COL-->   
                            <div class="col-md-11 col-xs-10"><h4><small> Re: Invitation for Thyagaraja Aradhana 2016</small></h4></div><!--End of COL-->   
                        </div><!--end of ROW ( Subject )-->
                    </div><!--End of COL (Subject)-->

                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-1 col-xs-3">Attachment: </div><!--End of COL-->   
                            <div class="col-md-11 col-xs-9">one,two,three</div><!--End of COL-->   
                        </div><!--end of ROW ( Subject )-->
                    </div><!--End of COL (Subject)-->

                    <div class="col-md-12 col-xs-12 border-style">
                        <textarea data-role="none" style="width:100%;"></textarea>
                    </div><!--End of COL (Subject)-->

                    <div class="col-md-12 col-xs-12 border-style">
                        <h4>
                            <small>
                                The @media rule is used to define different style rules for different media types/devices.

                                In CSS2 this was called media types, while in CSS3 it is called media queries.

                                Media queries look at the capability of the device, and can be used to check many things, such as:

                                width and height of the viewport
                                width and height of the device
                                orientation (is the tablet/phone in landscape or portrait mode?)
                                resolution
                                and much more

                            </small>
                        </h4>
                    </div><!--End of COL (email Body)-->


                </div><!--End of ROW-->

            </section><!--End of id="detail"-->

        </div><!--End of Main ROW-->




    </body>
</html>
